extends layout 

block content
  table(style="width:100%")  
    tr
        th Title 
        th Author
        th Genre
        th Year
    tr 
        td=title
        td=author 
        td=genre
        td=year
        
    br
    a(href="/") Home &larr;